body {background-color:lightpink;}

h1{
    background-color: beige;
    font-size: 30px;
}
table, th, td {
    border: 3px solid black;
    background-color: whitesmoke;
  }
img{
    border-style:solid;
    border-color: darkmagenta;
}
p{
    color:gold;
    font-size: 25px;
}
h1{
    color:hotpink;
}
h2{
    color:bisque;
}
h3{
    color:bisque;
}
  